﻿@model List<UtilitiesCliente.Models.WS.ListScoreResponse>
@{
    ViewBag.Title = "Actualizar Puntajes - Selección de equipo";
}

<h2>@ViewBag.Title</h2>

@*P U N T A J E S*@

<div class="row">
    <div class="col-md-12">

        @foreach (var equipo in Model)
        {
            @equipo.descripcion_equipo
            <div style="text-align:center;">
                <input class="btn btn-success" type="button" value="Editar puntajes" onclick="jsGo(@equipo.id_score);" />
                <br />
            </div>
        }
    </div>

</div>

<script>

    function jsGo(id_puntaje) {
        document.location.href = "@Url.Content("~/CacofonixScore/setScore/")" + "?id=" + id_puntaje ;
    }
</script>