﻿@model UtilitiesCliente.Models.WS.ListScoreResponse
@{
    ViewBag.Title = "setScore";
    string error = (string)ViewBag.error;
}

<h2>@ViewBag.Title</h2>
<div>
    <div class="row">
        <div class="text-danger">@error</div>
        <div class="col-md-12">



            <form action="~/CacofonixScore/setScore" method="post">

                @Html.LabelFor(d => d.id_equipo)
                @Html.TextBoxFor(d => d.id_equipo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.id_equipo, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.id_evento)
                @Html.TextBoxFor(d => d.id_evento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.id_evento, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.id_score)
                @Html.TextBoxFor(d => d.id_score, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.id_score, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.descripcion_equipo)
                @Html.TextBoxFor(d => d.descripcion_equipo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.descripcion_equipo, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.score)
                @Html.TextBoxFor(d => d.score, "", new { @class = "form-control" }) @*Las comillas vacías tendrían que tener el valor por defecto que hay que leer de la base*@
                @Html.ValidationMessageFor(d => d.score, "", new { @class = "text-danger" })
                <input id="btnSend" type="button" value="Guardar" class="btn btn-success" />



            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"> </script>    
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="@PortalCacofonix.Business.Constants.Url.SignalR"></script>

    <script>
    $(function () {
        $.support.cors = true; @* Esto permite solicitudes a un servidor externo *@
        $.connection.hub.url = "@PortalCacofonix.Business.Constants.Url.SignalRHub"
        var Counter = $.connection.Counter;


        $.connection.hub.start().done(function () {

            $("#btnSend").click(function () {
                @* Esto es un onclick *@

            var idEvento = "@Model.id_evento"
            var idEquipo = "@Model.id_equipo"
            var idScore = "@Model.id_score"
                var score = "@Model.score"

                Counter.server.Send(idEvento, idEquipo, score, idScore);
                                            })

        });

    })

    </script>

}
