﻿@model  UtilitiesCliente.Models.WS.MedalleroRequest
@{
    ViewBag.Title = "Medalleros";
    string error = (string)ViewBag.error;

}

<h2>@ViewBag.Title</h2>
<div>
    <div class="row">
        <div class="text-danger">@error</div>
        <div class="col-md-12">
            <form action="~/CacofonixMedallero/IncrementMedallero" method="post">
                @Html.LabelFor(d => d.id)
                @Html.TextBoxFor(d => d.id, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.id, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.oro)
                @Html.TextBoxFor(d => d.oro, "", new { @class = "form-control" }) @*Las comillas vacías tendrían que tener el valor por defecto que hay que leer de la base*@
                @Html.ValidationMessageFor(d => d.oro, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.plata)
                @Html.TextBoxFor(d => d.plata, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.plata, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.bronce)
                @Html.TextBoxFor(d => d.bronce, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.bronce, "", new { @class = "text-danger" })

                <input type="submit" value="Guardar" />
            </form>
        </div>
    </div>
</div>


<script>

    function jsGo(idEvento) {
        document.location.href = "@Url.Content("~/ScoresDisplay/ScoresDisplay/")" + "?id=" + idEvento;
    }
</script>
