﻿@model List<UtilitiesCliente.Models.WS.ListMedalleroResponse>

@{
    ViewBag.Title = "getMedallero";
}
@* Esta es la visualización de los puntajes*@
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <b>Medalleros</b>
        <div style="height:80vh; border:1px solid #690a0a border-radius:10 px;" id="AllMessages">
            @foreach (var mensaje in Model)
            {

                string classRight = "";

                classRight = "messageRight";

            <div class="mensaje @classRight">
                <b> Oro  :  </b>
                <b> @mensaje.oro </b> <br />
                <b> Plata :  </b>
                <b> @mensaje.plata </b> <br />
                <b> Bronce :  </b>
                <b> @mensaje.bronce </b> <br />

            </div>

            }

        </div>


    </div>
    <div style="height=5vh">
        <input type="text" value="" id="txtMessage" style="width:90%" />
        <input type="button" value="enviar" class="btn btn-success" />
    </div>

</div>
<script>

    function jsGo(idEvento) {
        document.location.href = "@Url.Content("~/ScoresDisplay/ScoresDisplay/")" + "?id=" + idEvento;
    }
</script>
