﻿@model List<UtilitiesCliente.Models.WS.ListEventoResponse>
@{
    ViewBag.Title = "Actualizar Puntajes";
}

<h2>@ViewBag.Title</h2>

@*P U N T A J E S*@

<div class="row">
    <div class="col-md-12">

        @foreach (var evento in Model)
        {
            @evento.tipoEvento
            <div style="text-align:center;">
                <input class="btn btn-success" type="button" value="Seleccionar equipos" onclick="jsGo(@evento.idEvento);" />
                <br />
            </div>
        }
    </div>

</div>

<script>

    function jsGo(idEvento) {
        document.location.href = "@Url.Content("~/CacofonixScore/seleccionEquipo/")" + "?id=" + idEvento;
    }
</script>