﻿@{
    ViewBag.Title = "Cacofonix";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <li>@Html.ActionLink("Incrementar Medalleros", "CacofonixMedallero", "Home")</li>
    <li>@Html.ActionLink("Actualizar Puntajes", "Index", "CacofonixScore")</li>

    </script>
