﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Login", "Home")</li>
                    <li>@Html.ActionLink("Ver Medalleros", "verMedallero", "Home")</li>
               


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody() @*Esto indica dónde va el cuerpo *@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

            <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
            <script src="@ClienteWeb.Business.Constants.Url.SignalRHub"></script>

            <script>
                $(function ()
                {
                    $.support.cors = true;
                    $.connection.hub.url = "@ClienteWeb.Business.Constants.Url.SignalR";
                    var counter = $.connection.counterHub;
                   
                    $.connection.hub.start().done();

                })
            </script>

        </body>
        </html>
