﻿
@model  ClienteWeb.Models.ViewModels.UserAccessViewModel

@{
    ViewBag.Title = "Login de Usuario";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    string error = (string)ViewBag.error;
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="text-danger">@error</div>
        <div class="col-md-12">
            <form action="~/Home/Login" method="post">
                @Html.LabelFor(d => d.Username)
                @Html.TextBoxFor(d => d.Username, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Username, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.Password)
                @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, "", new { @class = "text-danger" })


                <input type="submit" value="Acceder" />
            </form>
        </div>
    </div>
</div>