﻿
@model  ClienteWeb.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Registrar Usuario";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-md-12">
            <form action="~/Home/Register" method="post">
                @Html.LabelFor(d => d.Username)
                @Html.TextBoxFor(d => d.Username, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Username, "", new { @class = "text-danger" })
                @Html.LabelFor(d => d.Password)
                @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, "", new { @class = "text-danger" })


                <input type="button" value="Guardar" />
            </form>
        </div>
    </div>
</div>