﻿@model List<UtilitiesCliente.Models.WS.MessageResponse>

@{
    ViewBag.Title = "Display Scores";
    UtilitiesCliente.Models.WS.UserResponse sesionUsuario = (UtilitiesCliente.Models.WS.UserResponse)Session["User"];
}
@* Esta es la visualización de los puntajes*@
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <b>Puntajes</b>
        <div style="height:80vh; border:1px solid #690a0a border-radius:10 px;" id="AllMessages">
            @foreach (var mensaje in Model)
            {

                string classRight = "";

                classRight = "messageRight";

                <div class="mensaje @classRight">
                    <b> @mensaje.idEquipo </b>
                    <b> @mensaje.Puntaje </b>

                </div>

            }

        </div>
    </div>
    <div style="height=5vh">
        <input type="text" value="" id="txtMessage" style="width:90%" />
        <input type="button" value="enviar" class="btn btn-success" />
    </div>

</div>
<script>

    function jsGo(idEvento) {
        document.location.href = "@Url.Content("~/Display/Scores/")" + "?id=" + idEvento;
    }
</script>
