﻿@model List<UtilitiesCliente.Models.WS.ListEquiposResponse>
   
 @{
        ViewBag.Title = "Actualizar Medalleros";
    }

    <h2>@ViewBag.Title</h2>

            <div class="row">
                <div class="col-md-12">

                   @foreach (var equipo in Model)
                    {
                        @equipo.nombreEquipo
                        <div style="text-align:center;">
                            <input class="btn btn-success" type="button" value="Ver Medalleros" onclick="jsGo(@equipo.idMedallero);" />
                            <br />
                        </div>
                    }
            </div>

        </div>

<script>

    function jsGo(idMedallero) {
        document.location.href = "@Url.Content("~/CacofonixMedallero/IncrementMedallero/")" + "?id=" + idMedallero;
    }
 </script>