﻿@model List<UtilitiesCliente.Models.WS.ListEventoResponse>
@{
    ViewBag.Title = "Puntajes";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        @foreach( var puntaje in Model)
        {
            @puntaje.tipoEvento
            <div style= "text-align:center;">
            <input class="btn btn-success" type="button" value="Ver puntajes" onclick="jsGo(@puntaje.idEvento);" />
            <br /></div>
        }
    </div>

</div>

<script>

    function jsGo(idEvento) {
        document.location.href = "@Url.Content("~/ScoresDisplay/ScoresDisplay/")" + "?id=" + idEvento;
    }
</script>

